= link_to t('.edit_profile'),  edit_profile_path(current_user), class: "btn btn-primary"

%hr

.container-fluid
  .row
    .card.col-lg-4
      .card-body.text-center
        = image_tag "avatar.webp", :alt => "avatar", class: "rounded-circle img-fluid", style: "width: 150px;"
        %h5.my-3= @user.to_s
        %p.text-muted.mb-1= @user.email
        %p.text-muted.mb-4= @user.to_roles.join(",")
        .d-flex.justify-content-center.mb-2
          - if @user.api_token?
            = render "api_token", token: @user.api_token
          - else
            = link_to t('.create_api_token'), generate_token_profiles_path, class: 'btn btn-primary', data: { 'turbo-method' => :post }

    .col-lg-8
      .card.mb-4
        .card-body
          .row
            .col-sm-3
              %p.mb-0 Full Name
            .col-sm-9
              %p.text-muted.mb-0= @user.to_s
          %hr/
          .row
            .col-sm-3
              %p.mb-0 Email
            .col-sm-9
              %p.text-muted.mb-0= @user.email
          %hr/
          .row
            .col-sm-3
              %p.mb-0 Role
            .col-sm-9
              %p.text-muted.mb-0= @user.to_roles.join(",")
      .row
        .col-md-6
          .card.mb-4.mb-md-0
            .card-body
              %p.mb-4
                %span.text-primary.font-italic.me-1 assigment
                Project Status
              %p.mb-1{style: "font-size: .77rem;"} Web Design
              .progress.rounded{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", role: "progressbar", style: "width: 80%"}
              %p.mt-4.mb-1{style: "font-size: .77rem;"} Website Markup
              .progress.rounded{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "72", role: "progressbar", style: "width: 72%"}
              %p.mt-4.mb-1{style: "font-size: .77rem;"} One Page
              .progress.rounded{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "89", role: "progressbar", style: "width: 89%"}
              %p.mt-4.mb-1{style: "font-size: .77rem;"} Mobile Template
              .progress.rounded{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "55", role: "progressbar", style: "width: 55%"}
              %p.mt-4.mb-1{style: "font-size: .77rem;"} Backend API
              .progress.rounded.mb-2{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "66", role: "progressbar", style: "width: 66%"}
        .col-md-6
          .card.mb-4.mb-md-0
            .card-body
              %p.mb-4
                %span.text-primary.font-italic.me-1 assigment
                Project Status
              %p.mb-1{style: "font-size: .77rem;"} Web Design
              .progress.rounded{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", role: "progressbar", style: "width: 80%"}
              %p.mt-4.mb-1{style: "font-size: .77rem;"} Website Markup
              .progress.rounded{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "72", role: "progressbar", style: "width: 72%"}
              %p.mt-4.mb-1{style: "font-size: .77rem;"} One Page
              .progress.rounded{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "89", role: "progressbar", style: "width: 89%"}
              %p.mt-4.mb-1{style: "font-size: .77rem;"} Mobile Template
              .progress.rounded{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "55", role: "progressbar", style: "width: 55%"}
              %p.mt-4.mb-1{style: "font-size: .77rem;"} Backend API
              .progress.rounded.mb-2{style: "height: 5px;"}
                .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "66", role: "progressbar", style: "width: 66%"}