%h4
  File name:
  = @file_upload.name
%h4
  File type:
  = @file_upload.file_type
%h4
  File size:
  = @file_upload.file_size
%h4
  Row count:
  = @file_upload.csv_rows.count

-# %table.table.table-bordered.table-hover.table-striped.table-responsive
-#   %thead
-#     %tr.table-secondary
-#       - @csv_headers.each do |header|
-#         %th.text-center.align-middle= header.name
-#   %tbody
-#     - @csv_rows.each do |row|
-#       %tr{"data-id" => "#{row.id}", "data-item-id" => "#{row.file_upload_id}"}
-#         - @csv_headers.each do |header|
-#           %td.align-middle{"data-action" => "click->editable#edit", "data-column-name" => header.name, "data-controller" => "editable", "data-turbo-frame" => "item-frame"}
-#             = row.csv_row[header.name]
-# .d-flex.justify-content-end!= pagy_bootstrap_nav(@pagy)

= link_to t('.back'), file_uploads_path
= link_to t('.dashboard'), file_upload_dashboards_path(params[:id])

%div{ data: { controller: "tabulator", index: params[:id] } }