%h4
  = @dashboard

%hr

%table.table
  %thead
    %tr
      %th #
      %th= t('.sgid')
      %th= t('.expires_at')
      %th= t('.created_at')
      %th= t('.action')
  %tbody{id: "data_stream_files"}
    = render partial: "shared_dashboard", collection: @shared_dashboards

