%tr{id: dom_id(short_url)}
  %td{scope: "row"}= short_url.id
  %td= short_url.short_code
  %td= short_url.expires_at
  %td= short_url.created_at
  %td
    = link_to t('.destroy'), dashboard_short_url_path(@dashboard,short_url), data: { 'turbo-method' => :delete, confirm: "Are you sure?" }, class: 'btn btn-sm btn-outline-danger'
    = link_to t('.show'), shared_dashboard_path(short_url.short_code), target: "_blank", class: 'btn btn-sm btn-outline-primary'
