%h1= t('.sign_up')
= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .mb-3
    = f.label :email, class: 'form-label'
    = f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control'
  .mb-3
    = f.label :password, class: 'form-label'
    = f.password_field :password, autocomplete: 'current-password', class: 'form-control'
    - if @minimum_password_length
      %small.form-text.text-muted= t('.minimum_password_length', count: @minimum_password_length)
  .mb-3
    = f.label :password_confirmation, class: 'form-label'
    = f.password_field :password_confirmation, autocomplete: 'current-password', class: 'form-control'
  .mb-3
    = f.submit t('.sign_up'), class: 'btn btn-primary'
= render 'devise/shared/links'
