.d-flex
  %h4
    = @data_stream
  .ms-auto
    .d-flex
      .me-2
        = render "common/token_sgid", data_stream: @data_stream
      = render "common/connection_modal", data_stream: @data_stream

%hr

%table.table
  %thead
    %tr
      %th #
      %th= t('.file')
      %th= t('.status')
      %th= t('.created_at')
      %th= t('.action')
  %tbody{id: "data_stream_files"}
    = render partial: "data_stream_file", collection: @data_stream_files

