%h1 Dashboard#index
%p Find me in app/views/dashboard/index.html.haml


%div{"data-dashboards-type-value": 'bar', "data-dashboards-data-value": @chart_data.to_json, "data-dashboards-options-value": @chart_options.to_json, "data-dashboards-headers-value": @headers.to_json, "data-dashboards-rows-value": @rows.to_json, "data-controller": "dashboards"}
  = label_tag :select_items
  = select_tag :multi_select, options_from_collection_for_select(@headers, :id, :name), include_blank: true, multiple: true, "data-dashboards-target":  "multiSelect"

  = label_tag :group_by
  = select_tag :select_items, options_from_collection_for_select(@headers, :id, :name), include_blank: true, data: { dashboards_target: 'singleSelect' }
  %canvas{ "data-dashboards-target":  "canvas"}



-# %canvas{data: {controller: "chart", chart: {"data-value" => @chart_data.to_json, "options-value" => @chart_options.to_json} } }

-# %canvas{"data-chart-data-value" => "#{@chart_data.to_json}", "data-chart-options-value" => "#{@chart_options.to_json}", "data-controller" => "chart"}

-# %canvas{"data-controller": "dashboards"}

-# = simple_form_for :dashboard_index_path do |f|
-#   = f.input :username, as: :select
-#   = f.button :submit, 'Search'
  -# = f.input :username
  -# = f.input :password
  -# = f.button :submit