= turbo_frame_tag "modal" do
  = simple_form_for [@dashboard] do |f|
    .modal-header
      %h1.modal-title.fs-5= t('.create_dashboard')
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "modal", type: "button"}
    .modal-body
      = f.input :label
    .modal-footer
      %button.btn.btn-secondary{"data-bs-dismiss" => "modal", type: "button"} Close
      = f.button :submit, t('.create'), class: 'btn btn-primary'
