%nav.navbar.navbar-expand-md.bg-body-tertiary.border
  .container-fluid.mx-5
    = link_to t('.title'), root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "mainMenu", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#mainMenu", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #mainMenu.collapse.navbar-collapse
      %ul.navbar-nav.me-auto
        %li.nav-item
          %a.nav-link{:href => "#"} Link
        %li.nav-item
          %a.nav-link{:href => "#"} Link
      %ul.navbar-nav.justify-content-end
        - if user_signed_in?
          %li.nav-item.dropdown
            %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
              = current_user
            %ul.dropdown-menu
              %li
                %a.dropdown-item{:href => "#"} Profile
              %li
                %hr.dropdown-divider/
              %li
                = link_to t('.logout'), destroy_user_session_path, class: 'dropdown-item', data: { 'turbo-method' => :delete }
        - else
          %li.nav-item
            = link_to t('.login'), new_user_session_path, class: 'nav-link active'
          %li.nav-item
            = link_to t('.register'), new_user_registration_path, class: 'nav-link active'
