!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title DataGrid
    %meta{:name=>"turbo-visit-control", :content=>"reload"}/
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
  %body
    %main.container-fluid.p-0
      = render "layouts/navbar"
      .sidebar
        - if user_signed_in?
          = render "layouts/sidebar"
          .container-fluid
            = render_breadcrumbs
            = render "layouts/flash"
            #error-container
            = yield
        - else
          .container
            = render_breadcrumbs
            = render "layouts/flash"
            = yield